In [11]:
import requests
import json
import pandas as pd
import time
from dotenv import load_dotenv
import os 
import re

In [4]:
load_dotenv()
slug_collection = 'boredape-baseclub'

url = f'https://api.opensea.io/api/v2/collections/{slug_collection}/stats'
api_key = os.getenv('api_key')

headers = {
    "accept" : "application/json",
    "x-api-key": api_key
}

In [ ]:
try:
    response = requests.get(url, headers=headers).json()
    #response.raise_for_status()
    print(response)
except requests.exceptions.RequestException as e:
    print(f"Erro na requisição: {e}")

In [37]:
df_total_status = pd.json_normalize(response['total'])
#$2,637.70 USD (ETH price 2025-02-09)
eth_price = 2637.7
df_total_status['volume - USD'] = (df_total_status['volume'] * eth_price).round(2)
df_total_status ['floor_price - USD'] = (df_total_status['floor_price'] * eth_price).round(2)
df_total_status['collection'] = slug_collection
display(df_total_status)

,volume,sales,average_price,num_owners,market_cap,floor_price,floor_price_symbol,volume - USD,floor_price - USD,collection
0,60.534992,16534,0.003661,591,47.770834,0.006,ETH,159673.15,15.83,boredape-baseclub